@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");


:root {
  /* PRIMARY */
  --LimeGreen: hsl(163, 72%, 41%);
  --BrightRed: hsl(356, 69%, 56%);

  /* Dark Theme */
  --ToggleDarkTheme: linear-gradient(
    90deg,
    #378FE6 0%,
    #3FDB81 100%
  );
  /* Light Theme */
  --ToggleLightTheme: #AEB3CB;

  /* Dark Theme */
  --VeryDarkBlueBG: hsl(230, 17%, 14%);
  --VeryDarkBlueTopBG: hsl(232, 19%, 15%);
  --DarkDesaturatedBlueCardBG: hsl(228, 28%, 20%);
  --DesaturatedBlueText: hsl(228, 34%, 66%);
  --WhiteText: hsl(0, 0%, 100%);

  /* Light Theme */
  --WhiteBG: hsl(0, 0%, 100%);
  --VeryPaleBlueTopBG: hsl(225, 100%, 98%);
  --LightGrayishBlueCardBG: hsl(227, 47%, 96%);
  --DarkGrayishBlueText: hsl(228, 12%, 44%);
  --VeryDarkBlueText: hsl(230, 17%, 14%);
}
body {
  background-color: var(--WhiteBG);
  font-size: clamp(14px, 1vw, 18px);
  font-family: "Inter", sans-serif;
  line-height: 150%;
}

/* DARK MODE */
body.darkMode {
  background-color: black;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.darkMode {
  background-color: green;
  box-shadow: 0 0 1px green;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.darkMode:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*===========Test Card=============*/

.smallCard{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--LightGrayishBlueCardBG);
  border-radius: 0 0 5px 5px;
  min-height: 60px;
  overflow: hidden;

  margin: 1rem 1rem 2rem 1rem;
  padding: 1rem;
}
/* .smallCard::before{
  content: "";
  background-color: var(--BrightRed);
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
} */
.sideCardInfo{
  display: flex;
  flex-direction:column;
  height: 100%;
  justify-content: space-between;
}
@media all and (min-width: 500px){
  .secondary-cards{
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

@media all and (min-width: 700px){
  .secondary-cards{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-gap: 1rem;
  }
}

@media screen and (min-width:780px){
  .secondary-cards{
    display: grid;
    grid-template-columns:repeat(4, 25%);
    grid-gap: 1rem;
  }
}